In [29]:
a = []

for val in range(1, 74): 
      
        if val > 1: 
            for n in range(2, val//2 + 2): 
                if (val % n) == 0: 
                    break
                else: 
                    if n == val//2 + 1: 
                        a.append(val) 
                        
a

[3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73]

In [33]:
st = "this Data Type is STRIng"
st.capitalize()

'This data type is string'

In [34]:
st = "this Data Type is STRIng"
st.casefold()

'this data type is string'

In [35]:
st = "this Data Type is STRIng"
st.center(30,"&")

'&&&this Data Type is STRIng&&&'

In [36]:
st = "this Data Type is STRIng"
st.count("is")

2

In [37]:
st = "this Data Type is STRIng"
st_a = st.encode()
st_a

b'this Data Type is STRIng'

In [38]:
st = "this Data Type is STRIng"
st.endswith("g")

True

In [39]:
st = "this Data Type is STRIng"
st.expandtabs()

'this Data Type is STRIng'

In [40]:
st = "this Data Type is STRIng"
st.find("d")

-1

In [41]:
st = "this Data Type is STRIng"
st.index("y")

11

In [42]:
st = "ThisdatatypeisSt123"
st.isalnum()

True

In [43]:
st = "This"
st.isalpha()

True

In [44]:
st = "1111Â²"
st.isdigit()

True

In [45]:
st = "44"
st.isdecimal()

True

In [46]:
st = "this data type is string"
st.islower()

True

In [47]:
st = "This data type is String, not any other type"
st.isprintable()

True

In [54]:
a = str(input("Enter string 1:"))
b = str(input("Enter string 2:"))
c = str(input("Enter for palindrome check:"))
if (sorted(a) == sorted(b)):
    print("It is an Anagram")

if (c == c[::-1]):
    print("It is an Palindrome")
    
if (sorted(a) != sorted(b)) & (c != c[::-1]):
    print("None of them")

Enter string 1:listen
Enter string 2:silent
Enter for palindrome check:no
It is an Anagram

In [64]:
word = "Dr. Darshan Ingle @AI-ML trainer"
x = ''.join(e for e in word if e.isalnum())
x.lower()

'drdarshaningleaimltrainer'